<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<key>part</key>
	<string>1</string>
	<dict>
		<key>fish</key>
		<string>fish01</string>
		<key>showProbability</key>
		<string>100</string>
		<key>shoalSumInScreen</key>
		<integer>15</integer>
		<key>time</key>
		<integer>300</integer>
		<key>nextpart</key>
		<string>2</string>
		<key>bgMusic</key>
		<string>bg</string>
		<key>background</key>
		<string>bg/fishlightbg_0.jpg</string>
	</dict>
	<key>part</key>
	<string>2</string>
	<dict>
		<key>fish</key>
		<string>fish02;fish03</string>
		<key>showProbability</key>
		<string>50;50</string>
		<key>shoalSumInScreen</key>
		<integer>10</integer>
		<key>time</key>
		<integer>300</integer>
		<key>nextpart</key>
		<string>3</string>
		<key>bgMusic</key>
		<string>bg</string>
		<key>background</key>
		<string>bg/fishlightbg_1.jpg</string>
	</dict>
	<key>part</key>
	<string>3</string>
	<dict>
		<key>fish</key>
		<string>fish04;fish5;fish6</string>
		<key>showProbability</key>
		<string>30;30;40</string>
		<key>shoalSumInScreen</key>
		<integer>10</integer>
		<key>time</key>
		<integer>300</integer>
		<key>nextpart</key>
		<string>4</string>
		<key>bgMusic</key>
		<string>bg</string>
		<key>background</key>
		<string>bg/fishlightbg_2.jpg</string>
	</dict>
	<key>part</key>
	<string>4</string>
	<dict>
		<key>fish</key>
		<string>fish07;fish08</string>
		<key>showProbability</key>
		<string>50;50</string>
		<key>shoalSumInScreen</key>
		<integer>9</integer>
		<key>time</key>
		<integer>300</integer>
		<key>nextpart</key>
		<string>5</string>
		<key>bgMusic</key>
		<string>bg</string>
		<key>background</key>
		<string>bg/fishlightbg_3.jpg</string>
	</dict>
	<key>part</key>
	<string>5</string>
	<dict>
		<key>fish</key>
		<string>fish09;fish10</string>
		<key>showProbability</key>
		<string>60;40</string>
		<key>shoalSumInScreen</key>
		<integer>8</integer>
		<key>time</key>
		<integer>300</integer>
		<key>nextpart</key>
		<string>6</string>
		<key>bgMusic</key>
		<string>bg</string>
		<key>background</key>
		<string>bg/fishlightbg_4.jpg</string>
	</dict>
	<key>part</key>
	<string>6</string>
	<dict>
		<key>fish</key>
		<string>fish11;fish12</string>
		<key>showProbability</key>
		<string>50;50</string>
		<key>shoalSumInScreen</key>
		<integer>8</integer>
		<key>time</key>
		<integer>300</integer>
		<key>nextpart</key>
		<string>7</string>
		<key>bgMusic</key>
		<string>bg</string>
		<key>background</key>
		<string>bg/fishlightbg_5.jpg</string>
	</dict>
	<key>part</key>
	<string>7</string>
	<dict>
		<key>fish</key>
		<string>fish01;fish13</string>
		<key>showProbability</key>
		<string>20;80</string>
		<key>shoalSumInScreen</key>
		<integer>7</integer>
		<key>time</key>
		<integer>300</integer>
		<key>nextpart</key>
		<string>1</string>
		<key>bgMusic</key>
		<string>bg</string>
		<key>background</key>
		<string>bg/fishlightbg_6.jpg</string>
	</dict>
</plist>